<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5384dc2110b64840bfe0201d8ea6898d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_5384dc2110b64840bfe0201d8ea6898d" ></div>
        
</body>
<script>
    
    
            var map_5384dc2110b64840bfe0201d8ea6898d = L.map(
                "map_5384dc2110b64840bfe0201d8ea6898d",
                {
                    center: [33.9425, -118.408],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_179e844eb625d6ea90209d3a9d05255b = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_179e844eb625d6ea90209d3a9d05255b.addTo(map_5384dc2110b64840bfe0201d8ea6898d);
        
    
            var marker_29835b66d79f45d89eda7d7d44df7836 = L.marker(
                [33.9425, -118.408],
                {}
            ).addTo(map_5384dc2110b64840bfe0201d8ea6898d);
        
    
        var popup_aa65315f9c0dc3730f87820387925a97 = L.popup({"maxWidth": "100%"});

        
            
                var html_22b2f82b5fdc153ed50b563193795e09 = $(`<div id="html_22b2f82b5fdc153ed50b563193795e09" style="width: 100.0%; height: 100.0%;">LAX</div>`)[0];
                popup_aa65315f9c0dc3730f87820387925a97.setContent(html_22b2f82b5fdc153ed50b563193795e09);
            
        

        marker_29835b66d79f45d89eda7d7d44df7836.bindPopup(popup_aa65315f9c0dc3730f87820387925a97)
        ;

        
    
    
            var marker_140bc747a989caac64afe8c0d1484954 = L.marker(
                [49.0097, 2.54778],
                {}
            ).addTo(map_5384dc2110b64840bfe0201d8ea6898d);
        
    
        var popup_e7aed1b881b31bdd251c676c783bd796 = L.popup({"maxWidth": "100%"});

        
            
                var html_59acbbb556b17e546c2afc2a29aba1a3 = $(`<div id="html_59acbbb556b17e546c2afc2a29aba1a3" style="width: 100.0%; height: 100.0%;">CDG</div>`)[0];
                popup_e7aed1b881b31bdd251c676c783bd796.setContent(html_59acbbb556b17e546c2afc2a29aba1a3);
            
        

        marker_140bc747a989caac64afe8c0d1484954.bindPopup(popup_e7aed1b881b31bdd251c676c783bd796)
        ;

        
    
    
            var poly_line_01ed958bef4f81314d881dcdcb3d03df = L.polyline(
                [[33.9425, -118.408], [49.0097, 2.54778]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_5384dc2110b64840bfe0201d8ea6898d);
        
</script>
</html>